
<style media="screen">
  p {
    font-size: 10px;
  }
</style>


<main>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="container" style="text-align:center">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col">
            <h1>Visi</h1>
            <br>
            <p>"Melahirkan Peserta Didik yang Terampil dan Handal Dalam Suatu Skill Untuk Menjadi Bekal di Kemudian Hari"</p>
            <br>
            <br>
          </div>
        </div>
      </div> <!-- /container -->

      <div class="container" style="text-align:center">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col">
            <h1>Misi</h1>
            <br>
            <div>
              <p style="font-size:15px">Menerapkan kurikulum SLB yang ditetapkan pemerintah</p>
              <p style="font-size:15px">Memberikan pendidikan bagi peserta didik berkebutuhan khusus, putus sekolah disebabkan kesulitan belajar dan penyandang autisme melalui pendidikan segregasi(terpisah)</p>
              <p style="font-size:15px">Meningkatkan rasa kebersamaan dalam mewujudkan wadah pelayanan pendidikan dengan nuansa penuh senyum dan ramah</p>
              <p style="font-size:15px">Melatih anak berkebutuhan khusus dalam berbagai keterampilan dan kecakapan sosial, sebagai bekal selanjunya hidup ditengah-tengah masyarakat</p>
              <p style="font-size:15px">Mengupayakan pembangunan fasilitas sekolah yang memenuhi standar pelayanan minimal bagi pendidikan luar biasa, sebagaimana ditentukan pemerintah</p>
              <p style="font-size:15px">Menjalin kerja sama dengan semua pihak untuk memajukan pendidikan</p>
            </div>
          </div>
        </div>
      </div> <!-- /container -->

    </div>
  </div>

</main>
